li.nav-item, a.nav-link {
  font-family: neuzeit-grotesk, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  color: black !important;
  text-transform: uppercase;
}

header.navigation {
  border-bottom: 6px solid $yellow;

  div.logo {
    max-height: 100px;
    overflow: visible;
  }

  div.social {
    background-color: $yellow;
  }
}

#footer {
  color: white;
  background-color: black;

  small.copyright, small.copyright a {
    color: $gray;
    font-family: neuzeit-grotesk, sans-serif;
    font-style: normal;
    font-weight: 100;
  }

  li.nav-item, a.nav-link {
    color: white !important;
    padding: 2px;
  }

  .social {
    background-color: $lightblue;
  }
}

h1 {
  font-family: neuzeit-grotesk-extra-conden, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: $lightblue;
}

h2 {
  font-family: neuzeit-grotesk-extra-conden, sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: -1px;
  color: $lightblue;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

@mixin blue-gradient {
  background: $darkblue;
  background: radial-gradient(circle at 20% 20%, $gradientBlue 0%, $darkblue 100%);
}

@mixin blue-gradient-tr {
  background: $darkblue;
  background: radial-gradient(circle at 80% 20%, $gradientBlue 0%, $darkblue 100%);
}

.hero-stripe {
  min-height: 500px;
  @include blue-gradient;
}

.stripe {
  position: relative;

  .container .row {
    min-height: 400px;
  }

  .col-md-6 {
    position: static;
  }

  .stripe-blue-right, .stripe-blue-left {
    position: absolute;
    top: 20px;
    height: 360px;
    min-width: 180px;
  }

  .stripe-blue-right {
    @include blue-gradient;
    border-top-left-radius: 180px;
    border-bottom-left-radius: 180px;
    margin-left: 200px;
    left: 50%;
    right: 0;
  }

  .stripe-blue-left {
    @include blue-gradient-tr;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    margin-right: 200px;
    right: 50%;
    left: 0;
  }

  .image {
    margin-top: 68px;
    // Required because absolutely positioned elements are always above static ones regardless of z-index
    position: relative;
    background-color: $darkblue;

    img {
      max-height: 260px;
    }
  }

  .stripe-text {
    max-width: 380px;
    margin: 0 20px;

    h3 {
      margin: 0;
    }

    p {
      margin-bottom: 8px;
    }
  }
}

.stripe.image-left {
  .image {
    float: right;

    img {
      position: relative;
      right: -15px;
      top: -15px;
    }
  }

  .stripe-text {
    float: left;
  }
}

.stripe.image-right {
  .image {
    float: left;

    img {
      position: relative;
      left: -15px;
      top: -15px;
    }
  }

  .stripe-text {
    float: right;
  }
}

.contact-stripe {
  min-height: 500px;
  background-image: url("img/contact-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}