@mixin blue-gradient {
  background: $darkblue;
  background: radial-gradient(circle at 20% 20%, $gradientBlue 0%, $darkblue 100%);
}

@mixin blue-gradient-tr {
  background: $darkblue;
  background: radial-gradient(circle at 80% 20%, $gradientBlue 0%, $darkblue 100%);
}

body {
  font-family: "Avenir LT W01_65 Medium1475532", sans-serif;
}

p {
  line-height: 1.2;
}

li.nav-item, a.nav-link {
  font-family: "Avenir LT W01_95 Black1475556", sans-serif;
  font-style: normal;
  font-size: 19px;
  color: black !important;
  text-transform: uppercase;
}

header.navigation {
  border-bottom: 6px solid $yellow;

  @include media-breakpoint-down(md) {
    .container {
      width: 100%;
      max-width: none;
    }
  }

  div.logo {
    max-height: 90px;
    overflow: visible;
    z-index: 10;
  }

  div.social {
    background-color: $yellow;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0 24px;
    @include media-breakpoint-up(md) {
      max-width: 150px;
    }

    i {
      color: #333333;
      padding: 10px 10px 20px;
      font-size: 36px;

      a, a:hover, a:focus, a:visited {
        text-decoration: none;
      }
    }
  }

  #header-navbar {
    height: 100%;

    #menu-navigation-menu {
      height: 100%;
      align-items: flex-end;

      li {
        height: 100%;
        text-align: center;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        @include media-breakpoint-down(md) {
          height: auto;
          width: 100%;
        }

        a {
          padding: 12px 12px 20px;
        }
      }

      li.current-menu-item {
        background-color: $lightblue;

        a {
          color: white !important;
        }
      }
    }
  }
}

div.page-header .row {
  > div {
    min-height: 280px;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .title {
    @include blue-gradient;
    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    @include media-breakpoint-up(md) {
      h1 {
        max-width: 386px;
        align-self: flex-end;
      }
    }
  }

  .image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

#footer {
  color: white;
  background-color: black;

  small.copyright, small.copyright a {
    color: $gray;
    font-family: "Avenir LT W01_55 Roman1475520", sans-serif;
    font-style: normal;
    font-weight: 100;
  }

  li.nav-item, a.nav-link {
    color: white !important;
    padding: 2px;
    font-size: 1rem;
  }

  .social {
    background-color: $lightblue;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    i {
      color: black;
      padding: 16px;
      font-size: 64px;

      a, a:hover, a:focus, a:visited {
        text-decoration: none;
      }
    }
  }
}

a.services-btn, a.services-btn:hover, a.services-btn:active, a.services-btn:visited {
  background-image: url("img/services-arrow.png");
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 54px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  text-indent: 54px;
  line-height: 54px;
  font-size: 18px;
  font-family: "Avenir LT W01_35 Light_1475502", sans-serif;
  font-weight: 300;
}

a.yellow-btn, button.yellow-btn, input.yellow-btn, input.wpcf7-submit {
  font-family: "Avenir LT W01_95 Black1475556", sans-serif;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
  background-color: $yellow;
  height: 36px;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 30px;
  margin-top: 20px;
  border: none;
}

h1 {
  font-family: "Anton", sans-serif;
  font-style: normal;
  font-size: 2rem;
  color: $lightblue;
}

h2 {
  font-family: "Anton", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  color: $lightblue;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.stripe {
  position: relative;

  .container {
    @include media-breakpoint-down(md) {
      max-width: none;
    }

    .row {
      min-height: 400px;
    }
  }

  .col-md-6 {
    position: static;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  .stripe-blue-right, .stripe-blue-left {
    position: absolute;
    top: 20px;
    height: 360px;
    @media (max-width: 450px) {
      height: 320px;
    }
    @media (max-width: 350px) {
      height: 260px;
    }
    @include media-breakpoint-up(sm) {
      min-width: 180px;
    }
  }

  .stripe-blue-right {
    @include blue-gradient;
    border-top-left-radius: 180px;
    border-bottom-left-radius: 180px;
    margin-left: 200px;
    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
    left: 50%;
    right: 0;
    z-index: -1;
  }

  .stripe-blue-left {
    @include blue-gradient-tr;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    margin-right: 200px;
    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }
    right: 50%;
    left: 0;
    z-index: -1;
  }

  .image {
    margin-top: 76px;
    background-color: $darkblue;

    img {
      max-height: 260px;
    }


    @include media-breakpoint-down(sm) {
      float: none !important;
      display: inline-block;
      margin: 76px auto;
    }
  }

  .stripe-text {
    margin: 60px 20px 20px 20px;
    text-align: left;

    @include media-breakpoint-up(md) {
      max-width: 380px;
      margin: 0 20px;
    }

    h3 {
      margin: 0;
    }

    p {
      margin-bottom: 8px;
    }
  }
}

.stripe.image-right {
  .container .row {
    @include media-breakpoint-down(sm) {
      flex-flow: column-reverse;
    }
  }
}

.shield {
  max-width: 1140px;

  @include media-breakpoint-up(lg) {
    min-height: 600px;
    background-image: url("img/shield-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 80px 50px;
  }

  @include media-breakpoint-down(md) {
    @include blue-gradient;
  }

  h2 {
    color: white;
  }

  .row {

    a, a:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.stripe.image-left {
  .image {
    float: right;

    img {
      position: relative;
      right: -15px;
      top: -15px;
    }
  }

  .stripe-text {
    float: left;
  }
}

.stripe.image-right {
  .image {
    float: left;

    img {
      position: relative;
      left: -15px;
      top: -15px;
    }
  }

  .stripe-text {
    float: right;
  }
}

.hero-stripe {
  color: white;
  position: unset;
  @include blue-gradient;
  min-height: 500px;

  @include media-breakpoint-up(md) {
    img {
      height: 490px;
      width: auto;
    }
  }

  .stripe-text {
    max-width: 350px;
  }
}

div.contact-info {
  text-align: center;

  h1 {
    color: black;
    margin: auto;
  }

  h2 {
    max-width: 580px;
    margin: 30px auto;
  }

  a, a:hover {
    color: black;
    text-decoration: none;
  }
}

.stripe.services-list {
  background-color: $lightgray;
  position: relative;
  margin: 80px 0;

  .container .row {
    min-height: 304px;
    overflow: hidden;
  }

  ul {
    text-indent: 0;
    padding: 0;
    display: block;
    margin: 0;
    position: static;

    li {
      text-transform: uppercase;
      list-style: none;
      cursor: pointer;
      position: relative;
      color: #fff;
      display: block;
      width: initial;
      height: initial;
      text-indent: 0;
      background: none;
      border: none;
      opacity: 1;
    }

    li.active {
      font-style: italic;
      font-weight: bold;
    }

    li.active:before {
      content: "";
      display: block;
      background-color: $yellow;
      width: 14px;
      height: 14px;
      position: absolute;
      left: -20px;
      top: 4px;
    }
  }

  .stripe-blue-left {
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px;
    margin-right: 100px;
    z-index: 10;
    top: -48px;
    height: 420px;
    @include media-breakpoint-down(md) {
      position: static;
      border-radius: 0;
      width: 100%;
      padding: 0;
    }
  }

  .stripe-text {
    width: 300px;
    height: 420px;
    float: right;
    margin: 20px;

    .scroll {
      width: 300px;
      height: 380px;
      overflow: auto;
    }

    @include media-breakpoint-down(md) {
      float: none;
      margin: auto;

      .scroll {
        height: 420px;
        overflow: auto;
      }
    }
  }

  .carousel {
    position: static;
  }

  .carousel-caption {
    position: static;
    color: initial;
    text-align: left;
  }
}

.other-services {
  background-color: $lightgray;

  a, a:hover {
    text-transform: uppercase;
    color: black;
    display: inline-block;
    margin: 3px 0;
  }
}

.services-anchor {
  visibility: hidden;
  position: relative;
  top: -70px;
}

.blue-gradient {
  @include blue-gradient;
  color: white;
}

.white {
  color: white;
}

div.employees {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  .shade {
    background-color: rgba(0, 0, 0, 0.6);
  }

  ol {
    list-style: none;
    counter-reset: item;

    li {
      counter-increment: item;
      padding-left: 60px;
    }

    li:before {
      font-family: Anton, sans-serif;
      font-weight: 900;
      font-style: normal;
      margin-right: 10px;
      content: counter(item);
      color: $yellow;
      font-size: 70px;
      position: absolute;
      top: 6px;
      left: 0;
      line-height: 65px;
    }
  }
}

div.employees.about {
  li {
    padding-left: 80px !important;
  }

  ol li:before {
    top: 60px;
    font-size: 110px;
    line-height: 90px;
  }
}

.row.testimonials {
  > div {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blue {
    @include blue-gradient;
    color: white;
  }

  p {
    max-width: 400px;
    padding: 0 60px;
    margin: 60px 0;
    background-image: url("img/quote.png");
    background-repeat: no-repeat;
    background-position: 0 7px;
    background-size: 50px;
  }

  @include media-breakpoint-up(md) {
    p.right {
      background-position: 100% 7px;
    }
  }

  b {
    display: inline-block;
    margin-top: 10px;
    font-size: 17px;
  }

  div:last-child p {
    text-align: left;
  }

  div:first-child p {
    text-align: right;
  }
}

.contact-stripe {
  min-height: 500px;
  background-image: url("img/contact-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

  h2 {
    color: white;
  }

  p {
    width: 100%;
    margin-bottom: 7px;
  }

  input, select, textarea {
    width: 100%;
    border: none;
    color: black;
    padding: 6px 10px;
    margin: 0;
  }

  *::placeholder {
    color: black;
  }
}

label#contact_budget {
  width: 100%;
  text-align: left;
  margin-top: .5rem;

  input {
    background: transparent;
    color: white;
    width: 100px;
    display: inline;
    float: right;
    text-align: right;
    padding: 0;
  }
}

#budget_slider {
  margin: .5rem 0 1rem;
  border: none;

  span {
    border: none;
    margin: 2px 0 2px -0.6em;
    border-radius: 50%;
    background-color: $lightblue;
  }
}

label#contact_startdate {
  position: relative;

  i {
    position: absolute;
    top: 7px;
    right: 10px;
    color: $lightblue;
  }
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  background: $lightblue;
  top: 10px;
  bottom: 10px;
}
